/* In your CSS file (e.g., App.css) */

body {
    background-image: url('./images/Backgroundimg.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    opacity: 0.8;
  }
  