.auth-container {
    width: 350px;
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .auth-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .auth-container button {
    background: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    
  }
  
  .auth-container button:hover {
    background: #0056b3;
  }
  
  .auth-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .auth-container .link {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  
  .auth-container .link:hover {
    text-decoration: underline;
  }
  .guest-login{
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    background-color: #169f32;
    
  }
  